In [1]:
from urllib.request import urlretrieve
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/italy-covid-daywise.csv', 
            'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x1d5cb325ee0>)

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [4]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [5]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [6]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [7]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [8]:
covid_df.shape

(248, 4)

In [9]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [10]:
covid_df.new_cases

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [11]:
#same as below
covid_df['new_cases'][243]

1444.0

In [12]:
#same as above
covid_df.at[243,'new_cases']

1444.0

In [13]:
cases = covid_df[['date', 'new_cases']]
cases

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [16]:
total_cases=covid_df.new_cases.sum()
print(total_cases)

total_deaths=covid_df.new_deaths.sum()
print(total_deaths)

271515.0
35497.0

In [18]:
deathRate=total_deaths/total_cases
print(deathRate)

0.13073679170579894

In [21]:
total_test=covid_df.new_tests.sum()
#otal_test+=935310
print(total_test)

4279456.0

In [23]:
positiveRate=total_cases/total_test
print(positiveRate)

0.06344614829548428

In [24]:
high_new_cases = covid_df.new_cases>1000
print(high_new_cases)

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [24]:
high_new_cases = covid_df.new_cases>1000
print(high_new_cases)

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [25]:
covid_df[high_new_cases]

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [30]:
from IPython.display import display
with pd.option_context('display.max_rows',300):
    display(covid_df)

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
5    2020-01-05        0.0         0.0        NaN
6    2020-01-06        0.0         0.0        NaN
7    2020-01-07        0.0         0.0        NaN
8    2020-01-08        0.0         0.0        NaN
9    2020-01-09        0.0         0.0        NaN
10   2020-01-10        0.0         0.0        NaN
11   2020-01-11        0.0         0.0        NaN
12   2020-01-12        0.0         0.0        NaN
13   2020-01-13        0.0         0.0        NaN
14   2020-01-14        0.0         0.0        NaN
15   2020-01-15        0.0         0.0        NaN
16   2020-01-16        0.0         0.0        NaN
17   2020-01-17        0.0         0.0        NaN
18   2020-01-18        0.0         0.0        NaN
19   2020-01-19        0.0         0.0        NaN
20   2020-01-20        0.0         0.0        NaN
21   2020-01-21        0.0         0.0        NaN
22   2020-01-22        0.0         0.0        NaN
23   2020-01-23        0.0         0.0        NaN
24   2020-01-24        0.0         0.0        NaN
25   2020-01-25        0.0         0.0        NaN
26   2020-01-26        0.0         0.0        NaN
27   2020-01-27        0.0         0.0        NaN
28   2020-01-28        0.0         0.0        NaN
29   2020-01-29        0.0         0.0        NaN
30   2020-01-30        0.0         0.0        NaN
31   2020-01-31        3.0         0.0        NaN
32   2020-02-01        0.0         0.0        NaN
33   2020-02-02        0.0         0.0        NaN
34   2020-02-03        0.0         0.0        NaN
35   2020-02-04        0.0         0.0        NaN
36   2020-02-05        0.0         0.0        NaN
37   2020-02-06        0.0         0.0        NaN
38   2020-02-07        0.0         0.0        NaN
39   2020-02-08        0.0         0.0        NaN
40   2020-02-09        0.0         0.0        NaN
41   2020-02-10        0.0         0.0        NaN
42   2020-02-11        0.0         0.0        NaN
43   2020-02-12        0.0         0.0        NaN
44   2020-02-13        0.0         0.0        NaN
45   2020-02-14        0.0         0.0        NaN
46   2020-02-15        0.0         0.0        NaN
47   2020-02-16        0.0         0.0        NaN
48   2020-02-17        0.0         0.0        NaN
49   2020-02-18        0.0         0.0        NaN
50   2020-02-19        0.0         0.0        NaN
51   2020-02-20        0.0         0.0        NaN
52   2020-02-21        0.0         0.0        NaN
53   2020-02-22       14.0         0.0        NaN
54   2020-02-23       62.0         2.0        NaN
55   2020-02-24       53.0         0.0        NaN
56   2020-02-25       97.0         4.0        NaN
57   2020-02-26       93.0         5.0        NaN
58   2020-02-27       78.0         1.0        NaN
59   2020-02-28      250.0         5.0        NaN
60   2020-02-29      238.0         4.0        NaN
61   2020-03-01      240.0         8.0        NaN
62   2020-03-02      561.0         6.0        NaN
63   2020-03-03      347.0        17.0        NaN
64   2020-03-04      466.0        28.0        NaN
65   2020-03-05      587.0        27.0        NaN
66   2020-03-06      769.0        41.0        NaN
67   2020-03-07      778.0        49.0        NaN
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
71   2020-03-11      977.0       167.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
74   2020-03-14     2547.0       252.0        NaN
75   2020-03-15     3497.0       173.0        NaN
76   2020-03-16     2823.0       370.0        NaN
77   2020-03-17     4000.0       347.0        NaN
78   2020-03-18     3526.0       347.0        NaN
79   2020-03-19     4207.0       473.0        NaN
80   2020-03-20     5322.0       429.0        NaN
81   2020-03-21     5986.0       625.0        NaN
82   2020-03-22     6557.0       795.0        NaN
83   2020-03-23     5560.0       649.0        NaN
84   2020-03-24     4789.0       601.0        NaN
85   2020-03-25     5249.0       743.0        NaN
86   2020-03-26     5210.0       685.0        NaN
87   2020-03-27     6153.0       660.0        NaN
88   2020-03-28     5959.0       971.0        NaN
89   2020-03-29     5974.0       887.0        NaN
90   2020-03-30     5217.0       758.0        NaN
91   2020-03-31     4050.0       810.0        NaN
92   2020-04-01     4053.0       839.0        NaN
93   2020-04-02     4782.0       727.0        NaN
94   2020-04-03     4668.0       760.0        NaN
95   2020-04-04     4585.0       764.0        NaN
96   2020-04-05     4805.0       681.0        NaN
97   2020-04-06     4316.0       527.0        NaN
98   2020-04-07     3599.0       636.0        NaN
99   2020-04-08     3039.0       604.0        NaN
100  2020-04-09     3836.0       540.0        NaN
101  2020-04-10     4204.0       612.0        NaN
102  2020-04-11     3951.0       570.0        NaN
103  2020-04-12     4694.0       619.0        NaN
104  2020-04-13     4092.0       431.0        NaN
105  2020-04-14     3153.0       564.0        NaN
106  2020-04-15     2972.0       604.0        NaN
107  2020-04-16     2667.0       578.0        NaN
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
115  2020-04-24     2646.0       464.0    95273.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
119  2020-04-28     1739.0       333.0    37554.0
120  2020-04-29     2091.0       382.0    38589.0
121  2020-04-30     2086.0       323.0    41441.0
122  2020-05-01     1872.0       285.0    43732.0
123  2020-05-02     1965.0       269.0    31231.0
124  2020-05-03     1900.0       474.0    27047.0
125  2020-05-04     1389.0       174.0    22999.0
126  2020-05-05     1221.0       195.0    32211.0
127  2020-05-06     1075.0       236.0    37771.0
128  2020-05-07     1444.0       369.0    13665.0
129  2020-05-08     1401.0       274.0    45428.0
130  2020-05-09     1327.0       243.0    36091.0
131  2020-05-10     1083.0       194.0    31384.0
132  2020-05-11      802.0       165.0    25823.0
133  2020-05-12      744.0       179.0    39620.0
134  2020-05-13     1402.0       172.0    37049.0
135  2020-05-14      888.0       195.0    41131.0
136  2020-05-15      992.0       262.0    39027.0
137  2020-05-16      789.0       242.0    40657.0
138  2020-05-17      875.0       153.0    33505.0
139  2020-05-18      675.0       145.0    26101.0
140  2020-05-19      451.0        99.0    40226.0
141  2020-05-20      813.0       162.0    38617.0
142  2020-05-21      665.0       161.0    40644.0
143  2020-05-22      642.0       156.0    42987.0
144  2020-05-23      652.0       130.0    42579.0
145  2020-05-24      669.0       119.0    34206.0
146  2020-05-25      531.0        50.0    20676.0
147  2020-05-26      300.0        92.0    33944.0
148  2020-05-27      397.0        78.0    37299.0
149  2020-05-28      584.0       117.0    39838.0
150  2020-05-29      593.0        70.0    38233.0
151  2020-05-30      516.0        87.0    36051.0
152  2020-05-31      416.0       111.0    28948.0
153  2020-06-01      355.0        75.0    18053.0
154  2020-06-02      178.0        60.0    25628.0
155  2020-06-03      318.0        55.0    20035.0
156  2020-06-04      321.0        71.0    27451.0
157  2020-06-05      177.0        88.0    40470.0
158  2020-06-06      518.0        85.0    34036.0
159  2020-06-07      270.0        72.0    27894.0
160  2020-06-08      197.0        53.0    16301.0
161  2020-06-09      280.0        65.0    32200.0
162  2020-06-10      283.0        79.0    37865.0
163  2020-06-11      202.0        71.0    32991.0
164  2020-06-12      379.0        53.0    37651.0
165  2020-06-13      163.0        56.0    32880.0
166  2020-06-14      346.0        78.0    29545.0
167  2020-06-15      338.0        44.0    17463.0
168  2020-06-16      301.0        26.0    27762.0
169  2020-06-17      210.0        34.0    33957.0
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20     -148.0        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0
175  2020-06-23      221.0        23.0    23225.0
176  2020-06-24      113.0        18.0    30237.0
177  2020-06-25      577.0       -31.0    29421.0
178  2020-06-26      296.0        34.0    28331.0
179  2020-06-27      255.0        30.0    29721.0
180  2020-06-28      175.0         8.0    21183.0
181  2020-06-29      174.0        22.0    15484.0
182  2020-06-30      126.0         6.0    28471.0
183  2020-07-01      142.0        23.0    29325.0
184  2020-07-02      182.0        21.0    29147.0
185  2020-07-03      201.0        30.0    25680.0
186  2020-07-04      223.0        15.0    28946.0
187  2020-07-05      235.0        21.0    21166.0
188  2020-07-06      192.0         7.0    13771.0
189  2020-07-07      208.0         8.0    22490.0
190  2020-07-08      137.0        30.0    28679.0
191  2020-07-09      193.0        15.0    29947.0
192  2020-07-10      214.0        12.0    27251.0
193  2020-07-11      276.0        12.0    25449.0
194  2020-07-12      188.0         7.0    23061.0
195  2020-07-13      234.0         9.0    14006.0
196  2020-07-14      169.0        13.0    24222.0
197  2020-07-15      114.0        17.0    28392.0
198  2020-07-16      162.0        13.0    28089.0
199  2020-07-17      230.0        20.0    28661.0
200  2020-07-18      231.0        11.0    27569.0
201  2020-07-19      249.0        14.0    20621.0
202  2020-07-20      218.0         3.0    14121.0
203  2020-07-21      190.0        13.0    23915.0
204  2020-07-22      128.0        15.0    29288.0
205  2020-07-23      280.0         9.0    33018.0
206  2020-07-24      306.0        10.0    28970.0
207  2020-07-25      252.0         5.0    28059.0
208  2020-07-26      274.0         5.0    25177.0
209  2020-07-27      254.0         5.0    19374.0
210  2020-07-28      168.0         5.0    25341.0
211  2020-07-29      202.0        11.0    30875.0
212  2020-07-30      288.0         6.0    33396.0
213  2020-07-31      382.0         3.0    29686.0
214  2020-08-01      379.0         9.0    31905.0
215  2020-08-02      295.0         5.0    24496.0
216  2020-08-03      238.0         8.0    13467.0
217  2020-08-04      159.0        12.0    23491.0
218  2020-08-05      190.0         5.0    29739.0
219  2020-08-06      384.0        10.0    32169.0
220  2020-08-07      401.0         6.0    30392.0
221  2020-08-08      552.0         3.0    26631.0
222  2020-08-09      347.0        13.0    22773.0
223  2020-08-10      463.0         2.0    10904.0
224  2020-08-11      259.0         4.0    22063.0
225  2020-08-12      412.0         6.0    27330.0
226  2020-08-13      476.0        10.0    25629.0
227  2020-08-14      522.0         6.0    24868.0
228  2020-08-15      574.0         3.0    25937.0
229  2020-08-16      629.0       158.0    22470.0
230  2020-08-17      477.0         4.0    21379.0
231  2020-08-18      320.0         4.0    32687.0
232  2020-08-19      401.0         5.0    41290.0
233  2020-08-20      642.0         7.0    49662.0
234  2020-08-21      840.0         6.0    44943.0
235  2020-08-22      947.0         9.0    46613.0
236  2020-08-23     1071.0         3.0    47463.0
237  2020-08-24     1209.0         7.0    33358.0
238  2020-08-25      953.0         4.0    45798.0
239  2020-08-26      876.0         4.0    58054.0
240  2020-08-27     1366.0        13.0    57640.0
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN