In [1]:
student.height<-c(120,110,111,106,121,111,103,112,114)
mean(student.height)

x <- c(200,300,400,500,100)

[1] 112

In [2]:
student.height<-c(100,106,121,111,109,111,103,117,140)              
mean(student.height)

[1] 113.1111

In [3]:
student.weight<-c(72,74,68,62,56,60)
mean(student.weight)

[1] 65.33333

In [4]:
 salary<-c(12000,10000,5000,8000,7000)
mean(salary)

[1] 8400

In [5]:
student.height1<-c(100,106,121,111,109,111,103,117,114,NA,1047)
mean(student.height1, trim = 0.1,na.rm=TRUE)

[1] 111.5

In [6]:
student.height1<-c(100,106,121,111,109,111,103,117,114,NA,1047)
median(student.height1, na.rm=TRUE)

[1] 111

In [10]:
table(student.height)
a<- table(student.height)
sort(a)

#for finding one value which is by indexing the position, where we sort the dataascending order.
sort(a,decreasing = TRUE)[1]

student.height
100 103 106 109 111 117 121 140
  1   1   1   1   2   1   1   1

student.height
100 103 106 109 117 121 140 111
  1   1   1   1   1   1   1   2

111
  2

In [11]:
#Mean
data1.height<-c(150,170,180,260,254,222,740,120)
mean(data1.height)

[1] 262

In [15]:
#Median
data2.height<-c(550,560,570,445,480,420,555,486)
median(data2.height,trim=0.2,na.rm=TRUE)

median(data2.height)

[1] 518

[1] 518

In [14]:
#Mode
data3.height<-c(140,150,160,145,152,210,124,320,320,320)
table(data3.height)
sort(data3.height)
sort(data3.height,decreasing = TRUE)[1]

data3.height
124 140 145 150 152 160 210 320
  1   1   1   1   1   1   1   3

 [1] 124 140 145 150 152 160 210 320 320 320

[1] 320