In [2]:
data<-read.csv("heart.csv")
head(data)

  ï..age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 63     1   3  145      233  1   0       150     0     2.3     0     0  1
2 37     1   2  130      250  0   1       187     0     3.5     0     0  2
3 41     0   1  130      204  0   0       172     0     1.4     2     0  2
4 56     1   1  120      236  0   1       178     0     0.8     2     0  2
5 57     0   0  120      354  0   1       163     1     0.6     2     0  2
6 57     1   0  140      192  0   1       148     0     0.4     1     0  1
  target
1 1
2 1
3 1
4 1
5 1
6 1

In [3]:
str(data)

'data.frame':	303 obs. of  14 variables:
 $ ï..age  : int  63 37 41 56 57 57 56 44 52 57 ...
 $ sex     : int  1 1 0 1 0 1 0 1 1 1 ...
 $ cp      : int  3 2 1 1 0 0 1 1 2 2 ...
 $ trestbps: int  145 130 130 120 120 140 140 120 172 150 ...
 $ chol    : int  233 250 204 236 354 192 294 263 199 168 ...
 $ fbs     : int  1 0 0 0 0 0 0 0 1 0 ...
 $ restecg : int  0 1 0 1 1 1 0 1 1 1 ...
 $ thalach : int  150 187 172 178 163 148 153 173 162 174 ...
 $ exang   : int  0 0 0 0 1 0 0 0 0 0 ...
 $ oldpeak : num  2.3 3.5 1.4 0.8 0.6 0.4 1.3 0 0.5 1.6 ...
 $ slope   : int  0 0 2 2 2 1 1 2 2 2 ...
 $ ca      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ thal    : int  1 2 2 2 2 1 2 3 3 2 ...
 $ target  : int  1 1 1 1 1 1 1 1 1 1 ...